# Dependencies
node_modules/
npm-debug.log*

# Build outputs
dist/
out/
.vite/
*.exe
*.zip
*.deb
*.rpm
*.AppImage
*.dmg

# Database
db/*.sqlite
db/*.db

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Temporary
*.tmp
*.temp
.cache/

# Environment
.env
.env.local
.env.*.local


# Datta Able images
public/datta-able-assets/images/*
!public/datta-able-assets/images/.gitkeep
src-tauri/target/
