# Force l'utilisation de GCC au lieu de Visual Studio
msvs_version=
python=
# Chemins explicites vers w64devkit
cc=D:\tools\w64devkit\bin\gcc.exe
cxx=D:\tools\w64devkit\bin\g++.exe
link=D:\tools\w64devkit\bin\g++.exe
ar=D:\tools\w64devkit\bin\ar.exe
# Configuration pour éviter VS
node_gyp_force_cxx=D:\tools\w64devkit\bin\g++.exe
node_gyp_force_cc=D:\tools\w64devkit\bin\gcc.exe
# Ancienne configuration pour binaires oracledb retirée (mode Thin utilisé)
npm_config_build_from_source=false

# Garder better-sqlite3 existant
better_sqlite3_binary_host_mirror=https://npmmirror.com/mirrors/better-sqlite3/
npm_config_better_sqlite3_binary_host_mirror=https://npmmirror.com/mirrors/better-sqlite3/
