# Configuration Node sans Visual Studio
msvs_version=
python=
# Ancienne configuration pour binaires oracledb retirée (mode Thin utilisé)
npm_config_build_from_source=false
# LibSQL précompilé utilisé pour Windows

# Garder better-sqlite3 existant
better_sqlite3_binary_host_mirror=https://npmmirror.com/mirrors/better-sqlite3/
npm_config_better_sqlite3_binary_host_mirror=https://npmmirror.com/mirrors/better-sqlite3/
